/* Forçar a cor do placeholder em todos os inputs do projeto */
input::placeholder {
    color: #000000 !important;
    opacity: 1 !important;
    -webkit-text-fill-color: #A1A1A6 !important; /* Específico para Safari/iOS */
}

/* Caso o Reflex use a classe específica do Radix Themes */
.rt-TextFieldInput::placeholder {
    color: #A1A1A6 !important;
    opacity: 1 !important;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}

.skeleton-pulse {
    animation: pulse 1.5s infinite ease-in-out;
    background-color: #E5E5E7 !important; /* Cinza claro Apple */
    border-radius: 4px;
}